[Desktop Entry]
Version=1.0
Name=Terminal
Comment=Open terminal                                
Exec=gnome-terminal                                 
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Application;